<%- include("partials/header"); -%>
    <h1>Compose</h1>
    <form action="/compose" method="POST">
        <div class="form-group">
            <label for="postTitle">Title:</label>
            <input type="text" class="form-control" name="postTitle" id="postTitle"> 
            <label for="message">Post:</label>
            <textarea class="form-control" rows="5" id="message" name = "postBody"></textarea>
        </div> 
        <button class="btn btn-primary" type="submit" name="publish">Publish</button>
    </form>
<%- include("partials/footer"); -%>